<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net framework data provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
			<add name="SqlClient Data Provider" invariant="Microsoft.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient" />
		</DbProviderFactories>
	</system.data>
</configuration>